# Monad Testnet Configuration
RPC_URL=https://testnet-rpc.monad.xyz
CHAIN_ID=10143

# Deployer Configuration
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Monad Explorer API Key (Optional)
MONADVISION_API_KEY=
